/*
    Created on : Mar 15, 2015, 7:54:52 PM
    Author     : stCarolas stcarolas@gmail.com
*/
@import url(http://fonts.googleapis.com/css?family=Jura&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic);

body,
html {
    margin: 0;
    color: #DFE4E6;
    background: #EFF3F6;
}

/* Настройка шрифта элементов меню, кнопок и прочих виджетов */
.ui-widget,
.ui-widget .ui-widget {
    font-family: 'Poiret One', cursive;
    font-size: 18px;
}

/* Настройка позиционирования на странице блока с текстовым описанием, включая таблицы параметров */
doc {
    float: left;
    height: 100%;
    margin-left: 300px;
    padding: 0px 20px 0 35px;
    overflow: auto;
}

/* Настройка позиционирования на странице блока с текстовым описанием, включая таблицы параметров
        Для широкоформатных экранов*/
@media(min-width: 1700px) {
    doc {
        width: 50%;
    }
}

/* Настройка шрифта текстового описания */
doc {
    color: black;
    font-size: 18px;
    font-family: 'Jura', sans-serif;
    text-justify: inter-word;
    text-align: justify;
}

/* Заголовок страницы */
doc header {
    text-align: center;
}

/* Таблицы параметров: позиционирование */
doc table {
    width: 100%;
    margin-top: 30px;
}

/* Таблицы параметров: настройка шрифта */
doc table .ui-widget-content {
    color:black;
    font-weight: 700;
}

/* Таблицы параметров: перенос строк*/
doc table .ui-widget-content {
    word-break: break-all;
}

/* Настройка позиционирования контейнеров таблиц с описаниями входных/выходных параметров */
doc inparams,
doc outparams {
    text-align: center;
    display: inline-block;
    width: 100%;
    overflow: auto;
}