/* 
    Created on : Mar 16, 2015, 9:40:20 AM
    Author     : akovalev aekovalev@alfabank.ru
*/

/* Пример с JSON запроса/ответа */
examples {
    color: black;
    font-size: 18px;
    font-family: 'Jura', sans-serif;

    float:left;
    width: 70%;
    min-width: 300px;
    position:relative;
    margin-top: 10px;
    margin-left: 350px;

    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    border-radius: 5px;
}

@media(min-width: 1700px) {
    examples {
        float: right;
        width: 28%;
        margin-left: 0px;
    }
}

/* PF Tab View START */
examples .ui-tabs {
    position: initial;
    padding: 0;
    margin: 0;
    border: none;
    background: #EFF3F6;
}

@media(max-width: 1750px) {
    examples .ui-tabs {
        padding-left: 335px;
    }
}

examples example {
    border-radius: 5px;
    display: block;
}

examples desc {
    display: block;
    position: absolute;
    top: 0px;
    height: 33px;
    width: 50%;

    border: 1px solid #AAA;
    border-bottom: none;
    border-radius: 5px 5px 0 0;

    padding-top: 10px;
    text-align: center;

    font-family: "Poiret One", cursive;
    font-style: normal;
    text-decoration-style: solid;
    font-weight: bold;
    text-shadow: white;
}

examples request desc {
    border-left: none;
}

examples response {
    display: block;
}

examples response desc {
    right: 0px;
}

examples .inactive headers, examples .inactive json{
    display: none;
}

examples .inactive desc {
    background-image:linear-gradient(to top, #A1A1A1, #BFC3C6);
    border: 1px solid #A8A8A8;
    box-shadow: 0px 1px 0px #FFF inset;
    border-bottom: 1px solid #999;
}
examples .inactive desc:hover {
    box-shadow: 0px 0px 8px #85B2CB;
    cursor: pointer;
}


examples headers {
    margin-top: 80px;
    display: block;
}

examples json {
    display: block;
    padding: 10px 20px;
}

/* Навигация */
examples .ui-tabs .ui-tabs-nav {
    background: #EFF3F6;
}

examples .ui-tabs .ui-tabs-nav li {
    width: 49%;
    margin: 0;
    position: static;
}

examples .ui-tabs .ui-tabs-nav .ui-state-default.ui-corner-top {
    border: 1px solid rgb(170, 170, 170);
    background: #BFC3C6;
}

examples .ui-tabs .ui-tabs-nav .ui-state-default.ui-corner-top.ui-state-active {
    border-bottom: none;
    background: #EFF3F6;
}

examples .ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding-left: 0;
}

/* Содержимое панелей */
examples .ui-tabs .ui-tabs-panels {
    background: #EFF3F6;
    border-left: 1px solid rgb(170, 170, 170);
    margin-top: -1px;
    border-bottom: 1px solid rgb(170, 170, 170);
    border-radius: 0 0 0 7px;
}

examples .ui-tabs .ui-tabs-panels .ui-tabs-panel {
    padding-left: 0px;
    height: 500px;
}

/* PF Tab View END */


/* CodeMirror */
examples .CodeMirror{
    background: #EFF3F6;
    margin-top: 15px;
    height: auto;
}

examples .CodeMirror-gutter .CodeMirror-linenumbers {
    background: #EFF3F6;
}

examples .CodeMirror-gutters {
    border-right: 1px solid #BCC7CF;
    background: #EFF3F6;
}

examples .CodeMirror-sizer {
    margin-left: 30px!important; /* some bug with CodeMirror */
}

examples headers {
    margin-left: 35px;
}

examples .CodeMirror .cm-s-default .cm-error {
    color: black;
}

examples .CodeMirror-scroll {
    /*margin-bottom: 0px;*/
}