/*
    Created on : Mar 16, 2015, 9:39:44 AM
    Author     : akovalev aekovalev@alfabank.ru
*/

/* Панель меню/навигации */
menu {
    font-family: 'Poiret One', cursive;
    height: 100%;
    width: 300px;
    background: #404550;
    float: left;
    margin: 0;
    padding: 0;
    position:fixed;
    z-index: 100;
}

menu logo {
    text-align: center;
    color:white;
    height: 50px;
    width: 100%;
}

menu .ui-state-default,
menu .ui-widget-content .ui-state-default,
menu .ui-widget-header .ui-state-default {
    border: none;
    background:#404550;
}

menu .ui-panelmenu-panel .ui-state-default a,
menu .ui-panelmenu-panel .ui-widget-content a {
    color:white;
}

menu .ui-widget-content.ui-panelmenu-content {
    background: #505560;
}

menu .ui-state-default {
    box-shadow: none;
}

menu .ui-panelmenu-content {
    border: none;
}
menu .ui-panelmenu-panel {
    border-top: 1px solid #7C7C7C;
    text-align: center;
}

menu .ui-panelmenu-panel .ui-icon {
    display: none;
}

menu .ui-panelmenu .ui-panelmenu-header a {
    padding-left: 0;
}