<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">
    <ui:define name="header">
        История переводов 
    </ui:define>

    <ui:define name="doc">
        <p>
            Операция истории переводов позволяет Пользователю получить список всех выполненных транзакций, которые он выполнял.
		</p>	
	</ui:define>
	
	<ui:define name="inParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="3">Входные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                    <p:column>Обязательность</p:column>
                </p:row>
            </f:facet>

			<p:row>
                <p:column>modestate</p:column>
                <p:column>Тип транзакции (A - все транзакции, S – успешные, 
				E – завершены с ошибкой, W – в обработке)</p:column>
                <p:column>Обязателен</p:column>
            </p:row>
        </p:panelGrid>
	</ui:define>		
			
    <ui:define name="outParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="4">Выходные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">Параметр</p:column>
                    <p:column colspan="2">Описание</p:column>
                </p:row>
            </f:facet>
			<p:row>
                <p:column colspan="2">amount</p:column>
                <p:column colspan="2">Сумма</p:column>
            </p:row>
			
            <p:row>
                <p:column colspan="2">currency</p:column>
                <p:column colspan="2">Валюта</p:column>
            </p:row>
			
			<p:row>
                <p:column colspan="2">status</p:column>
                <p:column colspan="2">Статус перевода</p:column>
            </p:row>
			
            <p:row>
                <p:column colspan="2">date</p:column>
                <p:column colspan="2">Дата совершения транзакции</p:column>
            </p:row>
           			
			<p:row>
                <p:column colspan="2">terminal</p:column>
                <p:column colspan="2">Терминал</p:column>
            </p:row>
			
			<p:row>
                <p:column colspan="2">error</p:column>
                <p:column colspan="2">Ошибка</p:column>
            </p:row>
			
			<p:row>
                <p:column colspan="2">transaction_id</p:column>
                <p:column colspan="2">ID транзакции</p:column>
            </p:row>
			
			<p:row>
                <p:column colspan="2">app_id</p:column>
                <p:column colspan="2">ID прложения</p:column>
            </p:row>
			
			<p:row>
                <p:column colspan="2">client_ip</p:column>
                <p:column colspan="2">IP адрес устройства отправителя</p:column>
            </p:row>
			
			<p:row>
                <p:column colspan="2">authorization_code</p:column>
                <p:column colspan="2">Код авторизации</p:column>
            </p:row>
			
			<p:row>
                <p:column colspan="2">template_id</p:column>
                <p:column colspan="2">ID шаблона</p:column>
            </p:row>
			
			<p:row>
                <p:column colspan="2">template_name</p:column>
                <p:column colspan="2">Название шаблона</p:column>
            </p:row>

            <p:row>
                <p:column colspan="4" styleClass="ui-widget-header">
                    <p:spacer height="0"/>
                </p:column>
            </p:row>
			
			<p:row>
                <p:column rowspan="2">senderCard</p:column>
                <p:column rowspan="2">Данные карты списания</p:column>
                <p:column>number</p:column>
                <p:column>Номер карты</p:column>
            </p:row>

            <p:row>
                <p:column>id</p:column>
                <p:column>ID карты</p:column>
            </p:row>

            <p:row>
                <p:column colspan="4" styleClass="ui-widget-header">
                    <p:spacer height="0"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column rowspan="2">recipientCard</p:column>
                <p:column rowspan="2">Данные карты получателя</p:column>
                <p:column>number</p:column>
                <p:column>Номер карты</p:column>
            </p:row>

            <p:row>
                <p:column>id</p:column>
                <p:column>ID карты</p:column>
            </p:row>
			
        </p:panelGrid>
    </ui:define>
    
    <ui:define name="requestHeaders">
        GET /api/v1/users/1253/transfers?modestate=A
    </ui:define>

    <ui:define name="responseJson">
 "total": 2,
    "transfers": [
        {
            "amount": 5,
            "currency": "RUR",
            "status": "P",
            "comment": "",
            "date": 73,
            "terminal": "124320",
            "error": "",
            "transaction_id": "CC12604150000107",
            "sender": {
                "card": {
                    "number": "548673******6002",
                    "id": "CC20504150000001"
                }
            },
            "recipient": {
                "card": {
                    "number": "415481******2128",
                    "id": "CC20504150000004"
                }
            },
            "app_id": "TEST",
            "client_ip": "1.1.1.1",
            "authorization_code": "8RR1B6",
            "template_id": "CC52604150000012",
            "template_name": ""
        },
        {
            "amount": 5,
            "currency": "RUR",
            "status": "W",
            "comment": "",
            "date": 973,
            "terminal": "",
            "error": "",
            "transaction_id": "CC12604150000106",
            "sender": {
                "card": {
                    "number": "548673******6002",
                    "id": "CC20504150000001"
                }
            },
            "recipient": {
                "card": {
                    "number": "415481******2128",
                    "id": "CC20504150000004"
                }
            },
            "app_id": "TEST",
            "client_ip": "1.1.1.1",
            "authorization_code": "",
            "template_id": "CC52604150000012",
            "template_name": ""
        }
    ]
}
    </ui:define>
</ui:composition>