<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">
    
    <ui:define name="header">
        Инициация транзакции 
    </ui:define>

    <ui:define name="doc">
        <p>
            Перевод через UAPI может быть успешно выполнен c карты, поддерживающей 3D-Secure.
			Для осуществления транзакции необходимо инициировать операцию по переводу денег от отправителя к получателю.
            В результате инициации транзакции будет предоставлена следующая информация:
			
				<li>recipient card id - ID карты получателя</li>
				<li>sender card id - ID карты отправителя</li>
				<li>MD - Хэш сумма идентификатора транзакции в SmartVista</li>
                <li>paReq - Код подтверждения в SmartVista</li>
                <li>termURL - Адрес завершения транзакции, на который "постучит" ACS после проверки 3D-S></li>
			    <li>acsURL - Страница подтверждения 3-DS банка имитента</li>
				<li>transaction_id - ID транзакции UAPI</li>
				<li>template_id - ID шаблона UAPI</li>
		
        </p>
        <p>Для инициации транзакции можно передавать номера карт и/или id карт в системе. Для 
            инициации транзакции по шаблону необходимо иметь актуальный пользовательский токен.
        </p>
        <p>
            После успешного инициирования транзакции нужно пройти проверку 3D-S - на адрес acsURL
            отправить POST c Content-Type = application/x-www-form-urlencoded, с параметрами:
            <ul>
                <li>MD - Хэш сумма идентификатора транзакции в SmartVista</li>
                <li>PaReq - Код подтверждения в SmartVista</li>
                <li>termURL - Адрес завершения транзакции, на который "постучит" ACS после проверки 3D-S></li>
            </ul>
            При использовании штатного значения termURL после 3DS проверки со страницы acsURL автоматически осуществляется переход POST с Content-Type = application/x-www-form-urlencoded
            на адрес, переданный ей как termURL. В post передаетcя два параметра:
            <ul>
                <li>MD - Хэш сумма идентификатора транзакции в SmartVista</li>
                <li>PaRes - Вторая части подтверждения SmartVista</li>
            </ul>
            
            Параметр termURL разрешается передавать любой в случае, когда Партнер хочет выполнять "ручное" завершения транзакции.
            В таком случае параметры MD и PaRes необходимо передать в запросе для "ручного" завершения транзакции в UAPI.
            
        </p>
        <p> Если в termURL передавался адрес, присланный в ответе на инициирование транзакции 
            (к примеру для тестовой среды это https://testjmb.alfabank.ru/api/v1/transfers),
            то произойдет "автоматическое" завершение транзакции - UAPI обработает входные параметры,
            завершит транзакцию и сделает редирект на callbackURL, заданный для каждого Партнера отдельно.
            Со стороны Партнера таким образом делать запрос на завершение транзакции не требуется.
        </p>
    </ui:define>

    <ui:define name="inParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="7">Входные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                    <p:column>Обязательность</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column rowspan="4">sender</p:column>
                <p:column rowspan="4">Данные отправителя платежа</p:column>
                <p:column rowspan="4">card</p:column>
                <p:column rowspan="4">Реквизиты карты</p:column>
                <p:column>id</p:column>
                <p:column>ID карты в системе</p:column>
                <p:column>Обязателен id или number</p:column>
            </p:row>

            <p:row>
                <p:column rowspan="1">number</p:column>
                <p:column rowspan="1">Номер карты</p:column>
                <p:column rowspan="1">Обязателен id или number</p:column>
            </p:row>

            <p:row>
                <p:column rowspan="1">exp_date</p:column>
                <p:column rowspan="1">Дата окончания срока действия карты</p:column>
                <p:column rowspan="1">Обязателен при использовании номера карты</p:column>
            </p:row>

            <p:row>
                <p:column rowspan="1">cvv</p:column>
                <p:column rowspan="1">CVV код карты</p:column>
                <p:column rowspan="1">Обязателен</p:column>
            </p:row>

            <p:row>
                <p:column colspan="7" styleClass="ui-widget-header">
                    <p:spacer height="0"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column rowspan="2">recipient</p:column>
                <p:column rowspan="2">Данные получателя платежа</p:column>
                <p:column rowspan="2">card</p:column>
                <p:column rowspan="2">Реквизиты карты</p:column>
                <p:column>id</p:column>
                <p:column>ID карты в системе</p:column>
                <p:column>Обязателен id или number</p:column>
            </p:row>

            <p:row>
                <p:column>number</p:column>
                <p:column>Номер карты</p:column>
                <p:column>Обязателен id или number</p:column>
            </p:row>

            <p:row>
                <p:column colspan="7" styleClass="ui-widget-header">
                    <p:spacer height="0"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column colspan="3">amount</p:column>
                <p:column colspan="3">Сумма перевода в минорных единицах валюты перевода</p:column>
                <p:column colspan="3">Обязателен</p:column>
            </p:row>

            <p:row>
                <p:column colspan="3">currency</p:column>
                <p:column colspan="3">Мнемоника валюты перевода</p:column>
                <p:column colspan="3">Всегда рубли (RUR), можно не указывать</p:column>
            </p:row>

            <p:row>
                <p:column colspan="3">client_ip</p:column>
                <p:column colspan="3">IP отправителя</p:column>
                <p:column colspan="3">Обязателен</p:column>
            </p:row>
			
			<p:row>
                <p:column colspan="3">template_id</p:column>
                <p:column colspan="3">ID шаблона</p:column>
                <p:column colspan="3">Обязателен при переводе по шаблону, в других случаях -необязателен</p:column>
            </p:row>
			
        </p:panelGrid>
    </ui:define>

    <ui:define name="outParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="6">Выходные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column>sender</p:column>
                <p:column>Данные отправителя платежа</p:column>
                <p:column>card</p:column>
                <p:column>Реквизиты карты</p:column>
                <p:column>id</p:column>
                <p:column>ID карты в системе</p:column>
            </p:row>

            <p:row>
                <p:column colspan="6" styleClass="ui-widget-header">
                    <p:spacer height="0"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column>recipient</p:column>
                <p:column>Данные получателя платежа</p:column>
                <p:column>card</p:column>
                <p:column>Реквизиты карты</p:column>
                <p:column>id</p:column>
                <p:column>ID карты в системе</p:column>
            </p:row>

            <p:row>
                <p:column colspan="6" styleClass="ui-widget-header">
                    <p:spacer height="0"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column colspan="3">termURL</p:column>
                <p:column colspan="3">Адрес автоматического завершения</p:column>
            </p:row>

            <p:row>
                <p:column colspan="3">md</p:column>
                <p:column colspan="3">Уникальный индентификатор транзакции</p:column>
            </p:row>

            <p:row>
                <p:column colspan="3">pareq</p:column>
                <p:column colspan="3">Код подтверждения транзакции. Содержит экранированные переводы строк, от которых следует избваиться (деэкранировать) при дальнейшем использовании</p:column>
            </p:row>

            <p:row>
                <p:column colspan="3">acsURL</p:column>
                <p:column colspan="3">Адрес проверки 3D-S со стороны банка-эмитета карты отправителя платежа</p:column>
            </p:row>

            <p:row>
                <p:column colspan="3">template_id</p:column>
                <p:column colspan="3">ID созданного шаблона</p:column>
            </p:row>

            <p:row>
                <p:column colspan="3">transaction_id</p:column>
                <p:column colspan="3">ID созданной транзакции</p:column>
            </p:row>
        </p:panelGrid>
    </ui:define>

    <ui:define name="requestHeaders">
        PUT /api/v1/transfers
    </ui:define>

    <ui:define name="requestJson">
{
    "sender": {
        "card": {
            "id": "CC22408130000034",
            "exp_date": "201702",
            "cvv": "126"
        }
    },
    "recipient": {
        "card": {
            "number":"5486732189862220"
        }
    },
    "amount":"10",
    "currency":"RUR",
    "client_ip":"127.0.0.1"
}
    </ui:define>
    
    <ui:define name="responseJson">
{
    "recipient": {
        "card": {
            "id": "CC22408130000034"
        }
    },
    "sender": {
        "card": {
            "id": "CC22706130000010"
        }
    },
    "termURL": "https://testjmb.alfabank.ru/api/v1/transfers",
    "pareq": "eJxVUU1TgzAU/CsMd0kCIXQ6j3Sw6NgDTq3twWOE2KIltAG0/nsTPqwektl9edls9sHiUh2dT6mb\ slaxSzzsOlLldVGqfezutvc3M3fBYXvQUqbPMu+05JDJphF76ZRF7FbN3iMuh3WykWcOoxI3Qp4P\ aKLmis4PQrUcRH6+XT3ykM5YFAAaKVRSr1JOfBIEfr8HGOMeUEDDIShRSb5MNqlvN0A9h7zuVKu/\ OaNGbiLQ6SM/tO1pjpA4volXoT483QGydUBXO+vOosboXMqCZ2nyNaw7nL2/kGybkSx9CrN0FwOy\ HVCIVnIfkxAHhDmEzWk4x8ZjXwdRWQOcYPOzAcLJvpBc6385mEC1yXtyPzGQl1OtpOkwIf5iQFe3\ ywcbZd6aXG5MTIyxICLEiyJCKWUMh5gEfkRtwH2TVSxNMCTCg6QlgKwMGmeHxrka9G/eP9n9rmQ=",
    "md": "500E76CB6646AD2131CC7790A76DF2BC",
    "acsURL": "https://acs.alfabank.ru/acs/PAReq",
    "transaction_id": "CC11309130000008",
    "template_id": "CC50109130000001"
}
    </ui:define>
</ui:composition>
