<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">
    <ui:define name="header">
        Расчет комиссии (пользовательский токен)
    </ui:define>
    <ui:define name="doc">
        <p>
            В разработке.
        </p>
    </ui:define>
</ui:composition>