<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/docWithExamples.xhtml">
    <ui:define name="request">
        <script>
            $("examples").hide();
        </script>
    </ui:define>
</ui:composition>