<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">
    
    <ui:define name="header">
        Получение информации по БИНам 
    </ui:define>
    
    <ui:define name="doc">
        <p>
            По первым шести символам карты можно получить расширенную информацию по БИНу.
        </p>
    </ui:define>

    <ui:define name="inParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Входные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column>cardNumber</p:column>
                <p:column>БИН банка</p:column>
            </p:row>

            <p:row>
                <p:column>language</p:column>
                <p:column>Язык</p:column>
            </p:row>
        </p:panelGrid>
    </ui:define>

    <ui:define name="outParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Выходные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column>paymentSystem</p:column>
                <p:column>Платежная система</p:column>
            </p:row>

            <p:row>
                <p:column>country</p:column>
                <p:column>Код страны банка</p:column>
            </p:row>
            
            <p:row>
                <p:column>operations</p:column>
                <p:column>Информация о возможных типах операций</p:column>
            </p:row>
			
			<p:row>
                <p:column>comment</p:column>
                <p:column>Комментарий для клиента</p:column>
            </p:row>
			
			<p:row>
                <p:column>severity</p:column>
                <p:column>Важность комментария</p:column>
            </p:row>
			
			<p:row>
                <p:column>level</p:column>
                <p:column>Уровень важности комментария</p:column>
            </p:row>
			
			<p:row>
                <p:column>description</p:column>
                <p:column>Описание уровня важности комментария</p:column>
            </p:row>
			
			<p:row>
                <p:column>color</p:column>
                <p:column>Код цвета банка</p:column>
            </p:row>
			
			<p:row>
                <p:column>name</p:column>
                <p:column>Название банка</p:column>
            </p:row>
			
			<p:row>
                <p:column>identificator</p:column>
                <p:column>Идентификатор банка</p:column>
            </p:row>
			
        </p:panelGrid>
    </ui:define>

    <ui:define name="requestHeaders">
        GET /api/v1/operations/banks/byCardNumber/427918
    </ui:define>

    <ui:define name="requestJson">
{
    "cardNumber": 427918
	"language": "RU"
}
    </ui:define>
    
    <ui:define name="responseJson">
{
    
    "paymentSystem": "VISA",
    "country": "RU",
    "operations": [
        {
            "operation": "P2PCR",
            "comment": "Зачисление может проходить до 3 рабочих дней. Если по истечении этого времени деньги не дошли, нужно обращаться в call-центр Сбербанка",
            "severity": {
                "level": 2,
                "description": "Важное сообщение"
            }
        },
        {
            "operation": "P2PDT",
            "comment": "Списание с эих карт проходит без затруднений",
            "severity": {
                "level": 1,
                "description": "Средняя важность сообщения"
            }
        }
    ],
    "color": "#20911d",
    "name": "СБЕРБАНК",
    "identificator": 4924
}
    </ui:define>
</ui:composition>