<!DOCTYPE html>
<html xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>API P2P</title>
        <meta content="charset=UTF-8"/>

        <h:outputStylesheet name="css/doc.css" />
        <h:outputStylesheet name="css/menu.css" />
        <h:outputStylesheet name="css/examples.css" />
    </h:head>
    <h:body>

        <!-- Глобальное меню. Служит для навигации по страницам. -->
        <menu>
            <ui:include src="/components/menu.xhtml"/>
        </menu>

        <!-- Текстовое (словесное) описание сервиса или какого-либо механизма. 
        Включает в себя таблицы с описанием формата входных и выходных данных --> 
        <doc>
            <!-- Заголовок этой страницы-->
            <header>
                <h3>
                    <ui:insert name="header"/>
                </h3>
            </header>
            <!-- Непосредственно словесное описание-->
            <ui:insert name="doc"/>
            <!-- Таблица с описанием входных данных-->
            <inParams>
                <ui:insert name="inParams"/>
            </inParams>
            <!-- Таблица с описанием выходных данных-->
            <outParams>
                <ui:insert name="outParams"/>
            </outParams>
        </doc>
    </h:body>
</html>