<!DOCTYPE html>
<html xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>P2P API</title>
        <meta content="charset=UTF-8"/>

        <h:outputStylesheet name="css/docWithExamples.css" />
        <h:outputStylesheet name="css/menu.css" />
        <h:outputStylesheet name="css/examples.css" />
        <h:outputStylesheet name="css/codemirror.css" />

        <h:outputScript name="js/lib/codemirror-compressed.js" />
        <h:outputScript name="js/lib/formatting.js" />

        <!-- TODO вытащить в скрипт, замкнуть -->
        <script>
            var insertJSONExample = function (jsonContainer) {
                CodeMirror(function (elt) {
                    jsonContainer.parentNode.replaceChild(elt, jsonContainer);
                }, {
                    value: jsonContainer.innerHTML.trim(),
                    lineNumbers: true,
                    mode: "application/ld+json"
                });
            };

            var insertHTTPExample = function (jsonContainer) {
                CodeMirror(function (elt) {
                    jsonContainer.parentNode.replaceChild(elt, jsonContainer);
                }, {
                    value: jsonContainer.innerHTML.trim(),
                    mode: "message/http"
                });
            };

            var switchToRequest = function () {
                var response = $("response");
                var request = $("request");

                if (!response.hasClass("inactive")) {
                    response.addClass("inactive");
                    request.removeClass("inactive");
                }
            };

            var switchToResponse = function () {
                var response = $("response");
                var request = $("request");

                if (!request.hasClass("inactive")) {
                    request.addClass("inactive");
                    response.removeClass("inactive");
                }
            };
        </script>
    </h:head>
    <h:body>

        <!-- Глобальное меню. Служит для навигации по страницам. -->
        <menu>
            <ui:include src="/components/menu.xhtml"/>
        </menu>

        <!-- Текстовое (словесное) описание сервиса или какого-либо механизма. 
             Включает в себя таблицы с описанием формата входных и выходных данных -->
        <doc>
            <!-- Заголовок этой страницы-->
            <header>
                <h3>
                    <ui:insert name="header"/>
                </h3>
            </header>
            <!-- Непосредственно словесное описание -->
            <ui:insert name="doc"/>
            <!-- Таблица с описанием входных данных -->
            <inParams>
                <ui:insert name="inParams"/>
            </inParams>
            <!-- Таблица с описанием выходных данных -->
            <outParams>
                <ui:insert name="outParams"/>
            </outParams>
        </doc>

        <examples>
            <example>
                <request>
                    <desc>
                    Пример запроса
                    </desc>
                    <headers>
                        <code>
                            <ui:insert name="requestHeaders"/>
                        </code>
                    </headers>
                    <json>
                        <code>
                            <ui:insert name="requestJson"/>
                        </code>
                    </json>
                    <script>
                        insertHTTPExample($("request headers code")[0]);
                        insertJSONExample($("request json code")[0]);
                    </script>
                </request>
                <response>
                    <desc>
                    Пример ответа
                    </desc>
                    <headers>
                        <code>
                            <!--<ui:insert name="responseHeaders"/>-->
                        </code>
                    </headers>
                    <json>
                        <code>
                            <ui:insert name="responseJson"/>
                        </code>
                    </json>
                    <script>
//                        insertHTTPExample($("response headers code")[0]);
                        insertJSONExample($("response json code")[0]);
                    </script>
                </response>
            </example>
            <script>
                $("response desc").click(switchToResponse);
                $("request desc").click(switchToRequest);
                switchToRequest();
            </script>
        </examples>
    </h:body>
</html>