<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">

    <ui:define name="header">
        Добавление карты 
    </ui:define>

    <ui:define name="url">
        POST /api/v1/cards
    </ui:define>

    <ui:define name="doc">
        <p>
            Операция добавления карты в систему позволяет
            сохранять только номер карты и срок действия карты. 
            После добавления в сервисах можно использовать полученный ID карты вместо реквизитов карты.
			Если карта уже существует в системе, в ответе сервиса будет содержаться ID карты  
        </p>
    </ui:define>

    <ui:define name="inParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="3">Входные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                    <p:column>Обязательность</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column>number</p:column>
                <p:column>Номер карты</p:column>
                <p:column>Обязателен</p:column>
            </p:row>

            <p:row>
                <p:column rowspan="1">exp_date</p:column>
                <p:column rowspan="1">Срок действия карты в формате yyyymm</p:column>
                <p:column rowspan="1">Обязателен</p:column>
            </p:row>
        </p:panelGrid>
    </ui:define>

    <ui:define name="outParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Выходные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column>id</p:column>
                <p:column>ID карты в системе</p:column>
            </p:row>
        </p:panelGrid>
    </ui:define>
    
    <ui:define name="requestHeaders">
        POST /api/v1/cards
    </ui:define>

    <ui:define name="requestJson">
{
    "number": "1234561234565123157",
    "exp_date": "201511"
}
    </ui:define>
    
    <ui:define name="responseHeaders">
        POST /api/v1/cards
    </ui:define>

    <ui:define name="responseJson">
{
    "id": "CC21509130000001"
}
    </ui:define>
</ui:composition>