<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">
   <ui:define name="header">
        Получение списка шаблонов
    </ui:define>

    <ui:define name="url">
        get /api/v1/users/1253/list
    </ui:define>

    <ui:define name="doc">
        <p>
            Операция получения списка шаблонов Пользователя позволяет
            получить список всех шаблонов Пользователя в приложении и использовать 
			шаблон для совершения платежа. Шаблон создается после успешной инициации транзакции. 
        </p>
    </ui:define>

    
    <ui:define name="outParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="4">Выходные параметры</p:column>
                </p:row>
                <p:row>
					<p:column colspan="2">Параметр</p:column>
                    <p:column colspan="2">Описание</p:column>
                </p:row>
            </f:facet>
						
			<p:row>
                <p:column colspan="2">amount</p:column>
                <p:column colspan="2">Сумма</p:column>
            </p:row>
			
            <p:row>
                <p:column colspan="2">currency</p:column>
                <p:column colspan="2">Валюта</p:column>
            </p:row>
			
			 <p:row>
                <p:column colspan="2">name</p:column>
                <p:column colspan="2">Название</p:column>
            </p:row>
			
			<p:row>
                <p:column colspan="2">verification</p:column>
                <p:column colspan="2">Признак верификации</p:column>
            </p:row>
			
			<p:row>
                <p:column colspan="2">active</p:column>
                <p:column colspan="2">Признак активности шаблона</p:column>
            </p:row>
			
			<p:row>
                <p:column colspan="2">deleted</p:column>
                <p:column colspan="2">Признак удаления шаблона</p:column>
            </p:row>
			
			<p:row>
                <p:column colspan="2">template_id</p:column>
                <p:column colspan="2">ID шаблона</p:column>
            </p:row>

            <!-- СЕРАЯ ДЛИННАЯ СТРОКА В ТАБЛИЦЕ НАЧАЛО-->
            <p:row>
                <p:column colspan="4" styleClass="ui-widget-header">
                    <p:spacer height="0"/>
                </p:column>
            </p:row>
            <!-- СЕРАЯ ДЛИННАЯ СТРОКА В ТАБЛИЦЕ КОНЕЦ-->
			
			<p:row>
                <p:column rowspan="4">senderCard</p:column>
                <p:column rowspan="4">Данные карты списания</p:column>
                <p:column>number</p:column>
                <p:column>Номер карты</p:column>
			</p:row>

			<p:row>
                <p:column>id</p:column>
                <p:column>ID карты</p:column>
            </p:row>
			
			<p:row>
                <p:column>active</p:column>
                <p:column>Признак активности карты</p:column>
            </p:row>
			
			<p:row>
                <p:column>deleted_as_credit</p:column>
                <p:column>Признак удаления</p:column>
            </p:row>

            <!-- СЕРАЯ ДЛИННАЯ СТРОКА В ТАБЛИЦЕ НАЧАЛО-->
            <p:row>
                <p:column colspan="4" styleClass="ui-widget-header">
                    <p:spacer height="0"/>
                </p:column>
            </p:row>
            <!-- СЕРАЯ ДЛИННАЯ СТРОКА В ТАБЛИЦЕ КОНЕЦ-->
			
			<p:row>
                <p:column rowspan="4">recipientCard</p:column>
                <p:column rowspan="4">Данные карты отправителя</p:column>
                <p:column>number</p:column>
                <p:column>Номер карты</p:column>
			</p:row>
			
			<p:row>
                <p:column>id</p:column>
                <p:column>ID карты</p:column>
            </p:row>
			
			<p:row>
                <p:column>active</p:column>
                <p:column>Признак активности карты</p:column>
            </p:row>
			
			<p:row>
                <p:column>deleted_as_debit</p:column>
                <p:column>Признак удаления</p:column>
            </p:row>
			
        </p:panelGrid>
    </ui:define>
    
    <ui:define name="requestHeaders">
        GET /api/v1/users/1253/templates
    </ui:define>

    <ui:define name="responseJson">

   {
        "amount": 5,
        "currency": "RUR",
        "verification": true,
        "active": false,
        "deleted": false,
        "senderCard": {
            "number": "548673******6002",
            "id": "CC20504150000001",
            "active": true,
            "deleted_as_credit": false
        },
        "recipientCard": {
            "number": "415481******2128",
            "id": "CC20504150000004",
            "active": true,
            "deleted_as_debit": false
        },
        "template_id": "CC52604150000012"
    }
    </ui:define>
</ui:composition>