<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">
    <ui:define name="header">
        Расчет комиссии (партнерский токен)
    </ui:define>
    <ui:define name="doc">
        <p>
            Расчет размера комиссии за перевод между картами.
            Для партнерского токена разрешается использовать номера карт и/или id карт в системе.
            Для использования шаблонов необходим пользовательский токен.
        </p>
    </ui:define>

    <ui:define name="inParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="7">Входные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                    <p:column>Обязательность</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column rowspan="2">sender</p:column>
                <p:column rowspan="2">Данные отправителя платежа</p:column>
                <p:column rowspan="2">card</p:column>
                <p:column rowspan="2">Реквизиты карты</p:column>
                <p:column>id</p:column>
                <p:column>ID карты в системе</p:column>
                <p:column>Обязателен или id или number</p:column>
            </p:row>

            <p:row>
                <p:column rowspan="1">number</p:column>
                <p:column rowspan="1">Номер карты</p:column>
                <p:column rowspan="1">Обязателен или id или number</p:column>
            </p:row>

            <p:row>
                <p:column colspan="7" styleClass="ui-widget-header">
                    <p:spacer height="0"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column rowspan="2">recipient</p:column>
                <p:column rowspan="2">Данные получателя платежа</p:column>
                <p:column rowspan="2">card</p:column>
                <p:column rowspan="2">Реквизиты карты</p:column>
                <p:column>id</p:column>
                <p:column>ID карты в системе</p:column>
                <p:column>Обязателен или id или number</p:column>
            </p:row>

            <p:row>
                <p:column>number</p:column>
                <p:column>Номер карты</p:column>
                <p:column>Обязателен или id или number</p:column>
            </p:row>

            <p:row>
                <p:column colspan="7" styleClass="ui-widget-header">
                    <p:spacer height="0"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column colspan="3">amount</p:column>
                <p:column colspan="3">Сумма перевода в минорных единицах валюты перевода (String)</p:column>
                <p:column>Обязателен</p:column>
            </p:row>

            <p:row>
                <p:column colspan="3">currency</p:column>
                <p:column colspan="3">Мнемоника валюты перевода</p:column>
                <p:column>Обязателен</p:column>
            </p:row>
        </p:panelGrid>
    </ui:define>

    <ui:define name="outParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Выходные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column>fee</p:column>
                <p:column>Размер комиссии в минорных единицах валюты перевода (String)</p:column>
            </p:row>
            <p:row>
                <p:column>interest</p:column>
                <p:column>Взимаемый процент комиссии от перевода (String)</p:column>
            </p:row>
            <p:row>
                <p:column>constant</p:column>
                <p:column>Обязательная (постоянная) часть комиссии (String)</p:column>
            </p:row>
            <p:row>
                <p:column>min</p:column>
                <p:column>Минимальный размер комиссии (String)</p:column>
            </p:row>
            <p:row>
                <p:column>max</p:column>
                <p:column>Максимальный размер комиссии (String)</p:column>
            </p:row>
        </p:panelGrid>
    </ui:define>

    <ui:define name="requestHeaders">
        POST /api/v1/fee
    </ui:define>

    <ui:define name="requestJson">
{
    "sender": {
        "card":{
            "id": "CC22408130000034"
        }
    },
    "recipient": {
        "card":{
            "number":"4276380056928653"
        }
    },
    "amount":"3000000",
    "currency":"RUR"
}
    </ui:define>
    
    <ui:define name="responseHeaders">
        POST /api/v1/fee
    </ui:define>

    <ui:define name="responseJson">
{
    "fee": "58500",
    "interest": "1.95",
    "constant": "0",
    "min": "5000",
    "max": "-100"
}
    </ui:define>
</ui:composition>