<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">
   <ui:define name="header">
        Получение пользовательского токена
    </ui:define>

    <ui:define name="doc">
        <p>
				При регистрации Пользователя в системе UAPI на основе логина и пароля Партнер генерит ключ Basic авторизации
			и отправляет запрос на генерацию пользовательского токена.			
			Получение пользовательского токена состоит из двух частей: получение одноразового пароля через sms и
			получение самого токена по одноразовому паролю. Для совершения операций в UAPI от лица Пользователя
			Партнеру необходимо иметь актуальный пользовательский токен.
		</p>
		<p>
				В парамерах запроса для получения одноразового пароля Пользователя помимо ключа Basic авторизации необходимо указать контакт Пользователя
			(Запрос 1).
		</p>
		<p>
				Пользователь в приложении Партнера вводит полученный через sms код подтверждения. После ввода Пользователем кода подтверждения Партнеру генериться 
			пользовательский токен по данному запросу (Запрос 2).
        </p>
    </ui:define>
    		
    <ui:define name="inParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Заголовки запроса 1</p:column>
                </p:row>
                <p:row>
                    <p:column>Название</p:column>
                    <p:column>Значение</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column>Basic</p:column>
                <p:column>Строка вида: "cGaadS5lMl51cHWHyX2vFDGg54wWDAGVDJDSfaAScx73hasDcMDAxsdjNxdioyK12sa/BcMCASDGASFgzMMISDFH".
                    Формируется как base64(логин + ":" + пароль)</p:column>
            </p:row>
			<p:row>
                <p:column>sender</p:column>
                <p:column>Контакт Пользователя, например, номер телефона в формате 79165216452</p:column>
            </p:row>
			<p:row>
                <p:column>alerttype</p:column>
                <p:column>Тип канала для отправки кода подтверждения (SMS)</p:column>
            </p:row>
		</p:panelGrid>
		
    	<p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Выходные параметры 1</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column>password</p:column>
                <p:column>Код подтверждения</p:column>
            </p:row>
            </p:panelGrid>
    </ui:define>
		
            
	<ui:define name="outParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Заголовки запроса 2</p:column>
                </p:row>
                <p:row>
                    <p:column>Название</p:column>
                    <p:column>Значение</p:column>
                </p:row>
            </f:facet>
            
			<p:row>
                <p:column>username</p:column>
                <p:column>Контакт Пользователя, например, номер телефона в формате 79165216452</p:column>
            </p:row>
			<p:row>
                <p:column>password</p:column>
                <p:column>Код подтверждения, полученный по каналу (SMS)</p:column>
            </p:row>
			<p:row>
                <p:column>scope</p:column>
                <p:column>Права токена (read)</p:column>
            </p:row>
			<p:row>
                <p:column>grant_type</p:column>
                <p:column>Тип аутентификации Пользователя</p:column>
            </p:row>
		</p:panelGrid>
   
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Выходные параметры 2</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column>access_token</p:column>
                <p:column>Непосредственно сам токен</p:column>
            </p:row>
            
            <p:row>
                <p:column>token_type</p:column>
                <p:column>Тип OAuth2 токена (параметр не используется в системе, всегда bearer)</p:column>
            </p:row>

            <p:row>
                <p:column>refresh_token</p:column>
                <p:column>Обновление токена</p:column>
            </p:row>
            
            <p:row>
                <p:column>scope</p:column>
                <p:column>Права токена</p:column>
            </p:row>
			
        </p:panelGrid>
    </ui:define>

    <ui:define name="requestHeaders">
	Для получения кода подтверждения
POST /api/oauth/users/authorize?sender=79167928204&amp;alerttype=sms
	Для получения пользовательского токена
POST /api/oauth/token?username=79167928204&amp;password=945989&amp;scope=read&amp;grant_type=one_time_password

Authorization: Basic cGaadS5lMl51cHWHyX2vFDGg54wWDAGVDJDSfaAScx73hasDcMDAxsdjNxdioyK12sa/BcMCASDGASFgzMMISDFH
    </ui:define>

    <ui:define name="responseJson">
{
    "access_token": "2ca8fa03-37ec-4da7-9821-8c63040348d1",
    "token_type": "bearer",
    "refresh_token": "8c570839-dc30-4fb4-930f-5117390630bc",
    "scope": "read"
}
    </ui:define>
</ui:composition>
