<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/doc.xhtml">
   <ui:define name="header">
        Регистрация Пользователей Партнером
    </ui:define>

    <ui:define name="doc">
        <p>
            Партнер направляет запрос для регистрации и получения пользовательского токена. В запросе указывается
			контакт Пользователя, например номер телефона в формате 79165216452. Пользователю по указанным контактным данным отправляется код подтверждения,
			который необходимо ввести в приложении Партнера для подтверждения регистрации. Далее генерится пользовательский токен и отправляется Партнеру.
			После получения Партнером актуального пользовательского токена Партнер может осуществлять операции от имени Пользователя в UAPI.
			Процесс получения пользовательского токена описан <p:link outcome="/pages/tokens/client" value="Получение пользовательского токена"/>
        </p>
     </ui:define>
      <ui:define name="requestHeaders">
POST /api/oauth/users/token?username=79165216350&amp;password=519255&amp;scope=read&amp;grant_type=one_time_password

Authorization: Basic cGaadS5lMl51cHWHyX2vFDGg54wWDAGVDJDSfaAScx73hasDcMDAxsdjNxdioyK12sa/BcMCASDGASFgzMMISDFH
    </ui:define>

    <ui:define name="responseJson">
{
    "access_token": "2ca8fa03-37ec-4da7-9821-8c63040348d1",
    "token_type": "bearer",
    "refresh_token": "8c570839-dc30-4fb4-930f-5117390630bc",
    "scope": "read"
}
    </ui:define>
</ui:composition>