<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/templates/docWithExamples.xhtml">
    
    <ui:define name="header">
        Получение партнерского токена
    </ui:define>

    <ui:define name="doc">
        <p>
            После регистрации Партнера в системе UAPI, Партнеру выдается логин и пароль. На основе логина и пароля при каждом получении партнерского токена
			Партнер генерит ключ Basic авторизации.
        </p>
        <p>
            Для совершения операций в UAPI необходимо получить партнерский токен. 
        </p>
    </ui:define>

    <ui:define name="inParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Заголовки запроса</p:column>
                </p:row>
                <p:row>
                    <p:column>Название</p:column>
                    <p:column>Значение</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column>Authorization</p:column>
                <p:column>Строка вида: "Basic cGaadS5lMl51cHWHyX2vFDGg54wWDAGVDJDSfaAScx73hasDcMDAxsdjNxdioyK12sa/BcMCASDGASFgzMMISDFH".
                    Формируется как base64(логин + ":" + пароль)</p:column>
            </p:row>
        </p:panelGrid>
    </ui:define>
    <ui:define name="outParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Выходные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column>access_token</p:column>
                <p:column>Непосредственно сам токен</p:column>
            </p:row>
            
            <p:row>
                <p:column>token_type</p:column>
                <p:column>Тип OAuth2 токена (параметр не используется в системе, всегда bearer)</p:column>
            </p:row>
             
            <p:row>
                <p:column>scope</p:column>
                <p:column>Права токена</p:column>
            </p:row>
        </p:panelGrid>
    </ui:define>

    <ui:define name="requestHeaders">
        POST /api/oauth/token?grant_type=client_credentials&amp;scope=read      
        Authorization: Basic cGaadS5lMl51cHWHyX2vFDGg54wWDAGVDJDSfaAScx73hasDcMDAxsdjNxdioyK12sa/BcMCASDGASFgzMMISDFH
    </ui:define>

    <ui:define name="responseJson">
{
    "access_token": "188adf05-8886-4489-a8e2-817f6ed95653",
    "token_type": "bearer",
    "scope": "read"
}
    </ui:define>
</ui:composition>
