<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">

    <ui:define name="header">
        Добавление карты пользователя
    </ui:define>

    <ui:define name="url">
        POST /api/v1/operations/customercards
    </ui:define>

    <ui:define name="doc">
        <p>
            Операция добавления карты пользователя в систему позволяет
            привязать карту к Пользователю в приложении для последующего 
            отображения в списке карт Пользователя.  
        </p>
    </ui:define>

    <ui:define name="inParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="3">Входные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                    <p:column>Обязательность</p:column>
                </p:row>
            </f:facet>

	   <p:row>
                <p:column>id</p:column>
                <p:column>ID карты в системе</p:column>
                <p:column>Обязателен id или number</p:column>
            </p:row>
			
			<p:row>
                <p:column>number</p:column>
                <p:column>Номер карты</p:column>
                <p:column>Обязателен id или number</p:column>
            </p:row>

            <p:row>
                <p:column>exp_date</p:column>
                <p:column>Срок действия карты в формате yyyymm</p:column>
                <p:column>Обязателен при использовании номера карты</p:column>
            </p:row>
		
	        <p:row>	
				<p:column>color</p:column>
                <p:column>Код цвета карты</p:column>
                <p:column> не обязателен</p:column>
            </p:row>
		
            <p:row>	
			     <p:column>name</p:column>
                <p:column>Название</p:column>
                <p:column> не обязателен</p:column>
            </p:row>
		
	        <p:row>	
			    <p:column>active</p:column>
                <p:column>Признак активности карты</p:column>
                <p:column> не обязателен (Y/N), по умолчанию Y</p:column>
            </p:row>
	
	        <p:row>		
			    <p:column>debit</p:column>
                <p:column>Признак карты списания</p:column>
                <p:column> не обязателен (Y/N), по умолчанию N</p:column>
            </p:row>
			
            <p:row>     
			    <p:column>credit</p:column>
                <p:column>Признак карты зачисления</p:column>
                <p:column> не обязателен (Y/N), по умолчанию N</p:column>
            </p:row>
			
            <p:row>     
			<p:column>deleted_as_debit</p:column>
                <p:column>Карта списания удалена пользователем</p:column>
                <p:column> не обязателен (Y/N), по умолчанию N</p:column>
            </p:row>
			
            <p:row>     
			<p:column>deleted_as_credit</p:column>
                <p:column>Карта зачисления удалена пользователем</p:column>
                <p:column> не обязателен (Y/N), по умолчанию N</p:column>
            </p:row>
			
            <p:row>     
			<p:column>default_as_debit</p:column>
                <p:column>Карта списания по умолчанию</p:column>
                <p:column> не обязателен (Y/N), по умолчанию N</p:column>
            </p:row>
			
            <p:row>     
			<p:column>default_as_credit</p:column>
                <p:column>Карта зачисления по умолчанию</p:column>
                <p:column> не обязателен (Y/N), по умолчанию N</p:column>
            </p:row>
			
        </p:panelGrid>
    </ui:define>

    <ui:define name="outParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Выходные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                </p:row>
            </f:facet>
			<p:row>
                <p:column>color</p:column>
                <p:column>Код цвета карты</p:column>
            </p:row>
			
            <p:row>
                <p:column>id</p:column>
                <p:column>ID карты в системе</p:column>
            </p:row>
			
			<p:row>
                <p:column>name</p:column>
                <p:column>Название</p:column>
            </p:row>
			
			<p:row>
                <p:column>active</p:column>
                <p:column>Признак активности карты</p:column>
            </p:row>
			
			<p:row>
                <p:column>debit</p:column>
                <p:column>Карта списания</p:column>
            </p:row>
			
			<p:row>
                <p:column>credit</p:column>
                <p:column>Карта зачисления</p:column>
            </p:row>
			
			<p:row>
                <p:column>deleted_as_debit</p:column>
                <p:column>Карта списания удалена пользователем</p:column>
            </p:row>
			
			<p:row>
                <p:column>deleted_as_credit</p:column>
                <p:column>Карта зачисления удалена пользователем</p:column>
            </p:row>
			
			<p:row>
                <p:column>default_as_debit</p:column>
                <p:column>Карта списания по умолчанию</p:column>
            </p:row>
			
			<p:row>
                <p:column>default_as_credit</p:column>
                <p:column>Карта зачисления по умолчанию</p:column>
            </p:row>
			
        </p:panelGrid>
    </ui:define>
    
    <ui:define name="requestHeaders">
        POST /api/v1/users/1253/cards
    </ui:define>

    <ui:define name="requestJson">
{
    "number": "5213243739046055",
	"default_as_debit": true,
	"default_as_credit": false,
	"exp_date": "201605",
	"color": "#112233",
	"name": "TCS"
}
    </ui:define>
    
    <ui:define name="responseJson">
{
    "color": "#112233",
    "id": "CC20404150000003",
    "name": "TCS                                                                   ",
    "active": true,
    "debit": false,
    "credit": false,
    "deleted_as_debit": false,
    "deleted_as_credit": false,
    "default_as_credit": false,
    "default_as_debit": true
}
    </ui:define>
</ui:composition>
