<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">

    <ui:define name="header">
        Удаление карты Пользователя
    </ui:define>

    <ui:define name="url">
        POST /api/v1/cards
    </ui:define>

    <ui:define name="doc">
        <p>
            Операция удаления карты Пользователя позволяет пометить карту признаком удаления. 
            После выполнения операции удаленная карта не будет отображаться в списке карт Пользователей.
			Карту можно удалить из списка карт списания и/или зачисления независимо друг от друга. 
			При удалении карты из одного списка в другом списке она будет отображаться.
			  
        </p>
    </ui:define>

    <ui:define name="inParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="3">Входные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                    <p:column>Обязательность</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column>id</p:column>
                <p:column>ID карты в системе</p:column>
                <p:column>Обязателен</p:column>
            </p:row>

            <p:row>
                <p:column>deleted_as_debit</p:column>
                <p:column>Карта списания удалена пользователем</p:column>
                <p:column>не обязателен</p:column>
            </p:row>
			
			<p:row>
                <p:column>deleted_as_credit</p:column>
                <p:column>Карта зачисления удалена пользователем</p:column>
                <p:column>не обязателен</p:column>
            </p:row>
			
        </p:panelGrid>
    </ui:define>

    <ui:define name="outParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Выходные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                </p:row>
            </f:facet>

            <p:row>
                <p:column>color</p:column>
                <p:column>Код цвета карты</p:column>
            </p:row>
			
            	
			<p:row>
                <p:column>name</p:column>
                <p:column>Название</p:column>
            </p:row>
			
			<p:row>
                <p:column>active</p:column>
                <p:column>Признак активности карты</p:column>
            </p:row>
			
			<p:row>
                <p:column>debit</p:column>
                <p:column>Карта списания</p:column>
            </p:row>
			
			<p:row>
                <p:column>credit</p:column>
                <p:column>Карта зачисления</p:column>
            </p:row>
			
			<p:row>
                <p:column>deleted_as_debit</p:column>
                <p:column>Карта списания удалена пользователем</p:column>
            </p:row>
			
			<p:row>
                <p:column>deleted_as_credit</p:column>
                <p:column>Карта зачисления удалена пользователем</p:column>
            </p:row>
			
			<p:row>
                <p:column>default_as_debit</p:column>
                <p:column>Карта списания по умолчанию</p:column>
            </p:row>
			
			<p:row>
                <p:column>default_as_credit</p:column>
                <p:column>Карта зачисления по умолчанию</p:column>
            </p:row>
			
        </p:panelGrid>
    </ui:define>
    
    <ui:define name="requestHeaders">
        delete /api/v1/users/1253/cards/CC22604150000004
    </ui:define>

    <ui:define name="requestJson">
{
    "id": "CC22604150000004"
}
    </ui:define>
    
    <ui:define name="responseHeaders">
        delete /api/v1/users/1253/cards/CC22604150000004
    </ui:define>

    <ui:define name="responseJson">
{
   {
    "color": "#112233",
    "name": "TCS                                                                   ",
    "active": true,
    "debit": false,
    "credit": false,
    "deleted_as_debit": true,
    "deleted_as_credit": true,
    "default_as_credit": false,
    "default_as_debit": true
}
}
    </ui:define>
</ui:composition>