<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">

    <ui:define name="header">
        Получение списка карт пользователя
    </ui:define>

    <ui:define name="url">
        get /api/v1/users/1253/cards
    </ui:define>

    <ui:define name="doc">
        <p>
            Операция получения списка карт пользователя в системе позволяет
            получить информацию о привязанных картах к Пользователю в приложении.  
        </p>
    </ui:define>

    
    <ui:define name="outParams">
        <p:panelGrid>
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Выходные параметры</p:column>
                </p:row>
                <p:row>
                    <p:column>Параметр</p:column>
                    <p:column>Описание</p:column>
                </p:row>
            </f:facet>
			<p:row>
                <p:column>color</p:column>
                <p:column>Код цвета карты</p:column>
            </p:row>
			
            <p:row>
                <p:column>id</p:column>
                <p:column>ID карты в системе</p:column>
            </p:row>
			
			<p:row>
                <p:column>name</p:column>
                <p:column>Название</p:column>
            </p:row>
			
			<p:row>
                <p:column>active</p:column>
                <p:column>Признак активности карты</p:column>
            </p:row>
			
			<p:row>
                <p:column>debit</p:column>
                <p:column>Карта списания</p:column>
            </p:row>
			
			<p:row>
                <p:column>credit</p:column>
                <p:column>Карта зачисления</p:column>
            </p:row>
			
			<p:row>
                <p:column>alfa</p:column>
                <p:column>Признак карты Альфа банка</p:column>
            </p:row>
			
			<p:row>
                <p:column>deleted_as_debit</p:column>
                <p:column>Карта списания удалена пользователем</p:column>
            </p:row>
			
			<p:row>
                <p:column>deleted_as_credit</p:column>
                <p:column>Карта зачисления удалена пользователем</p:column>
            </p:row>
			
			<p:row>
                <p:column>default_as_debit</p:column>
                <p:column>Карта списания по умолчанию</p:column>
            </p:row>
			
			<p:row>
                <p:column>default_as_credit</p:column>
                <p:column>Карта зачисления по умолчанию</p:column>
            </p:row>
			
			<p:row>
                <p:column>exp_date</p:column>
                <p:column>Срок действия карты</p:column>
            </p:row>
			
        </p:panelGrid>
    </ui:define>
    
    <ui:define name="requestHeaders">
        get /api/v1/users/1253/cards
    </ui:define>

        
    <ui:define name="responseHeaders">
        get /api/v1/users/1253/cards
    </ui:define>

    <ui:define name="responseJson">
[
    {
        "number": "521324******6055",
        "color": "#112233",
        "id": "CC20404150000003",
        "name": "TCS",
        "active": true,
        "debit": false,
        "credit": false,
        "alfa": false,
        "deleted_as_debit": false,
        "deleted_as_credit": false,
        "default_as_credit": false,
        "default_as_debit": false,
        "exp_date": "2016-05-31"
    },
    {
        "number": "521324*******7550",
        "color": "#112233",
        "id": "CC22604150000004",
        "name": "TCS",
        "active": true,
        "debit": false,
        "credit": false,
        "alfa": false,
        "deleted_as_debit": true,
        "deleted_as_credit": true,
        "default_as_credit": false,
        "default_as_debit": true,
        "exp_date": "2016-05-31"
    }
]
    </ui:define>
</ui:composition>