<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/doc.xhtml">

    <ui:define name="header">
        Редактирование карты Пользователя
    </ui:define>

    <ui:define name="url">
        POST /api/v1/operations/customercards
    </ui:define>

    <ui:define name="doc">
        <p>
            Операция изменения дополнительных параметров карты Пользователя позволяет
            добавить данные о карте Пользователя либо изменить ранее заданные параметры карты в приложении
			для последующего отображения их Пользователю в списке карт или дополнительной информации 
			о карте.  
        </p>
		
		<p>
            Входные и выходные параметры, которые могут быть изменены аналогичны параметрам, описанным в разделе
			операции добавления карты Пользователя
		
            Для <p:link outcome="/pages/operations/customercards/addcustomercard" value="добавление карты пользователя"/>
            Входные параметры, которые возможно добвлять или изменять по уже сохраненным ранее картам Пользователя:    
        
        </p>
		
		<ul>
            <li>Срок действия карты в формате yyyymm </li>
            <li>Код цвета карты</li>
			<li>Название</li>
			<li>Признак активности карты</li>
			<li>Признак карты списания</li>
			<li>Признак карты зачисления</li>
			<li>Карта списания удалена пользователем</li>
            <li>Карта зачисления удалена пользователем</li>
            <li>Карта списания по умолчанию</li>
			<li>Карта зачисления по умолчанию</li>
		
        </ul>
    </ui:define>
   
</ui:composition>