<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:form>
        <logo>
            <h1>
                UAPI
            </h1>
        </logo>
        <p:panelMenu>

            <p:submenu label="Общие положения">
                <p:menuitem value="Описание"
                            outcome="/pages/overview/description"/>
                <p:menuitem value="Авторизация"
                            outcome="/pages/overview/auth"/>
                <p:menuitem value="Ресурсы"
                            outcome="/pages/overview/files"/>
            </p:submenu>

            <p:submenu label="Получение токена">
                <p:menuitem value="Получение партнерского токена"
                            outcome="/pages/tokens/partner"/>
				<p:menuitem value="Получение пользовательского токена"
                            outcome="/pages/tokens/client"/>
				<p:menuitem value="Регистрация Пользователей Партнером"
                            outcome="/pages/tokens/clientreg"/>			
			
			</p:submenu>

            <p:submenu label="Выполнение операций">
				    <p:submenu label="P2P Переводы">
						<p:menuitem value="Инициация транзакции"
                                outcome="/pages/operations/P2Ptransfers/init"/>
						<p:menuitem value="Завершение транзакции"
                                outcome="/pages/operations/P2Ptransfers/complete"/>
						<p:menuitem value="Расчет комиссии"
                                outcome="/pages/operations/P2Ptransfers/fee"/>
						<p:menuitem value="История переводов"
                                outcome="/pages/operations/P2Ptransfers/history"/>			
					</p:submenu>
					
					<p:submenu label="Карты">
						<p:menuitem value="Добавление карты"
                                outcome="/pages/operations/Cards/new"/>
					</p:submenu>
					
					<p:submenu label="Карты пользователей">			
						<p:menuitem value="Добавление карты пользователя"
                                outcome="/pages/operations/CustomerCards/addcustomercard"/>
						<p:menuitem value="Получение списка карт пользователей"
                                outcome="/pages/operations/CustomerCards/getcustomercard"/>
						<p:menuitem value="Редактирование карты пользователя"
                                outcome="/pages/operations/CustomerCards/maintaincustomercard"/>
						<p:menuitem value="Удаление карты пользователя"
                                outcome="/pages/operations/CustomerCards/deletecustomercard"/>
					</p:submenu>
					
					<p:submenu label="Шаблоны">
						<p:menuitem value="Получение списка шаблонов"
                                outcome="/pages/operations/templates/list"/>
						<p:menuitem value="Редактирование шаблона"
                                outcome="/pages/operations/templates/edit"/>
						<p:menuitem value="Удаление шаблона"
                                outcome="/pages/operations/templates/remove"/>		

					</p:submenu>
					
					<p:submenu label="БИН">
						<p:menuitem value="Получение информации по БИНам"
                                outcome="/pages/operations/bins/bin"/>
					</p:submenu>
                
            </p:submenu>

        </p:panelMenu>
    </h:form>
</ui:composition>