<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/doc.xhtml">

    <ui:define name="header">
        Авторизация
    </ui:define>

    <ui:define name="doc">

        <style>
            td {
                border-top: 1px solid #666;
                height: 30px;
            }

            doc {
                width: auto;
            }

            doc table,
            doc code line {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }

            doc code line {
                display: block;
            }
        </style>

        <p>
            UAPI не предоставляет анонимный доступ Партнерам. Партнер должен быть зарегистрирован в системе. Пользователь, осуществляющий операцию, может быть как 
			зарегистрирован на стороне Партнера, так и не зарегистрирован.
			Все действия в системе совершаются либо от лица Партнера, либо от лица Пользователя. Для каждой из этих ролей предусмотрен свой токен -
            партнерский и пользовательский соответственно, использование которых авторизует клиента в системе.
            Оба токенa выдаются через UAPI Партнеру.
        </p>
        <h4>Партнерский токен</h4>
        <p>
            Основной токен, который позволяет выполнять следующие операции через UAPI:<br/>
        </p>
        <ul>
            <li>Осуществлять переводы</li>
            <li>Сохранять карты</li>
            <li>Получать ID сохраненной карты</li>
            <li>Рассчитать комиссию перевода</li>
			<li>Получать расширенную информацию по БИНам</li>
        </ul>

        <h4>Пользовательский токен</h4>
        <p>
            Токен, который выпускается к партнерскому токену, служит для разграничения Пользователей и каналов Партнера<br/>
            и позволяет выполнять следующие операции через UAPI:
        </p>
        <ul>
            <li>Регистрировать Пользователей в UAPI</li>
            <li>Осуществлять переводы</li>
			<li>Сохранять карты</li>
			<li>Получать ID сохраненной карты</li>
			<li>Рассчитывать комиссию перевода</li>
			<li>Сохранять и изменять информацию по картам</li>
			<li>Удалять карты Пользователя из списка карт</li>
			<li>Получать список карт Пользователя</li>
            <li>Сохранять и изменять информацию по шаблонам</li>
            <li>Получать список шаблонов</li>
			<li>Удалять шалон Пользователя из списка шаблонов</li>
			<li>Получать список выполненных переводов</li>
			<li>Получать информацию о переводе</li>
			<li>Получать расширенную информацию по БИНам</li>
        </ul>
        <p style="color:red">
            Внимание, на текущий момент на тестовом стенде нельзя выпустить пользовательский токен.
            </p>
        <h4>Ограничения:</h4>
        <p>Используя партнерский токен нельзя, например, осуществить перевод по шаблону, созданному с помощью пользовательского токена,
           и наоборот, т.к. все каналы изолированы друг от друга. Если выполнить создание шаблона под разными токенами
           у этих шаблонов будут разные ID, привязанные строго к своим токенам.
        </p>
        <p>
            На текущий момент партнерский токен не может запрашивать список своих операций, но в будущем мы планируем это исправить.
            Обойти это ограничение можно выпустив себе пользовательский токен и работая под ним.
        </p>
        <h4>Например:</h4>
        <div style="width: 80%; margin-left:auto; margin-right:auto;"><ol>
            <li><span style="text-decoration: underline">Если на витрине Партнера есть переводы для всех посетителей</span>
                <br/>необходимо использовать партнерский токен.
            </li>
            <li><span style="text-decoration: underline">Если на витрине Партнера есть переводы для всех посетителей</span>
                <br/>Для каждой площадки можно создавать свой пользовательский токен.
                Т.о. Пользователи с разных площадок не пересекаются между собой и каждая площадка имеет доступ только к своим данным.
            </li>
            <li>
                <span style="text-decoration: underline">Если на витрине Партнера есть переводы для зарегистрированных 
                    пользователей. (Сбор средств на подарки/проекты, как вариант)</span>
                <br/>Для каждого зарегистрированного Пользователя необходимо создавать пользовательский токен. 
            </li>
        </ol></div>
        <p>
            Права и доступы к существующему функционалу для токенов различаются и отображены в таблице ниже:
        </p>

        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Вид операции</th>
                    <th>Пользовательский токен</th>
                    <th>Партнерский токен</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Регистрация Пользователей в UAPI</td>
                    <td>-</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td>Переводы</td>
                    <td>+</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td>Сохранение карты</td>
                    <td>+</td>
                    <td>+</td>
                </tr>
                 <tr>
                    <td>Получение ID сохраненной карты</td>
                    <td>+</td>
                    <td>+</td>
                </tr>
				 <tr>
                    <td>Расчет комиссии перевода</td>
                    <td>+</td>
                    <td>+</td>
                </tr>
				 <tr>
                    <td>Сохранение/изменение информации по картам</td>
                    <td>+</td>
                    <td>-</td>
                </tr>
				<tr>
                    <td>Удаление карты Пользователя</td>
                    <td>+</td>
                    <td>-</td>
                </tr>				
				<tr>
                    <td>Получение списка карты пользователей</td>
                    <td>+</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Сохранение/изменение информации по шаблонам</td>
                    <td>+</td>
                    <td>-</td>
                </tr>
				<tr>
                    <td>Получение списка шаблонов</td>
                    <td>+</td>
                    <td>-</td>
                </tr>
				<tr>
                    <td>Удаление шаблона Пользователя</td>
                    <td>+</td>
                    <td>-</td>
                </tr>
				<tr>
                    <td>Получение списка выполненных переводов</td>
                    <td>+</td>
                    <td>-</td>
                </tr>
				<tr>
                    <td>Получение информации о переводе</td>
                    <td>+</td>
                    <td>-</td>
                </tr>
				<tr>
                    <td>Получение расширенной информации по БИНам</td>
                    <td>+</td>
                    <td>+</td>
                </tr>
            </tbody>
        </table>

        <p>
            Для <p:link outcome="/pages/tokens/partner" value="получения партнерского токена"/>
            необходимо вызвать сервер авторизации с логином/паролем партнера.<br/>
            Для <p:link outcome="/pages/tokens/client" value="получения пользовательского токена"/>
            необходимо пройти авторизацию через смс.
        </p>

        <p>
            Токен следует передавать в заголовках для всех запросов, за исключением запросов для получения/обновления токена.
            <br/>
            Пример:
        </p>

        <code>
            <line>GET users/1234/cards</line>
            <line>Host: testjmb.alfabank.ru</line>
            <line>Authorization: Bearer d3277c36-133su2-4a4a-2agb-c5ab8n99f04h</line>
            <line>Cache-Control: no-cache</line>
        </code>

    </ui:define>
</ui:composition>
