<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/doc.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="header">
        Общее описание
    </ui:define>
    <ui:define name="doc">
        <style>
            doc {
                width: auto;
            }
        </style>
        <p>Система предоставляет возможность Партнерам и Пользователям выполнять операции  
            посредством обращения к REST сервисам, используя OAuth2 токен в качестве средства аутентификации.
			Все действия пользователя осуществляются посредством мобильного приложения или web-приложения Партнера.
			Все данные по операциям и картам сохраняются в системе UAPI.
        </p>
        <p>Данная документация фиксирует UAPI версии v1.
            В пределах этой версии в сервисах уже существующие поля в JSON телах запросов/ответов 
            не меняются (не удаляются/не переименовываются).
            Ендпоинты сервисов, параметры строки запроса, заголовки запросов/ответов также остаются неизменными.
            В пределах версии тем не менее возможно добавление новых полей в тела ответов/запросов,
            добавление новых параметров запроса и добавление новых сервисов.
        </p>
        <p>
            Тестовые стенды доступны по адресу 
            <ul>
                <li>
                    <a href="https://click.alfabank.ru/api/oauth">https://click.alfabank.ru/api/oauth</a>
                    - входной endpoint для работы с токенами (получение, обновление и так далее)
                </li>
                <li>
                    <a href="https://click.alfabank.ru/api/v1">https://click.alfabank.ru/api/v1</a> - входной endpoint для выполнения операций в UAPI.
                    Также в целях совместимости для UAPI поддерживается ендпоинт <a href="https://click.alfabank.ru/uapi/v1">https://click.alfabank.ru/uapi/v1</a>
                </li>
            </ul>
        </p>
        <p>
            Адреса в документации указаны без имени хоста с учетом этих входных ендпоинтов, 
            т.е. если в примере указан <code>POST /api/v1/fee</code>, то полный адрес - <a href="https://click.alfabank.ru/api/v1/fee">https://click.alfabank.ru/api/v1/fee</a>
        </p>
    </ui:define>
</ui:composition>