<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/doc.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="header">
        Полезные Ресурсы
    </ui:define>

    <ui:define name="doc">
        <h:form>
            <p:commandButton value="PHP Example"
                             ajax="false"
                             icon="ui-icon-arrowthick-1-s">
                <p:fileDownload value="#{sharedFilesBean.phpExample}" />
            </p:commandButton>
        </h:form>
        <h:form>
            <div style="margin-top: 30px;">
                <p:commandButton value="Postman Collection"
                                 ajax="false"
                                 icon="ui-icon-arrowthick-1-s">
                    <p:fileDownload value="#{sharedFilesBean.uapiCollection}" />
                </p:commandButton> - нужен также enviroment среды (см ниже)
            </div>
            <div style="margin-top: 30px;">
                <p:commandButton value="Postman Enviroment for testjmb"
                                 ajax="false"
                                 icon="ui-icon-arrowthick-1-s">
                    <p:fileDownload value="#{sharedFilesBean.uapiEnviroment}" />
                </p:commandButton>
            </div>
        </h:form>
    </ui:define>
</ui:composition>