<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">
    <ui:define name="requestHeaders">
        PUT /api/v1/users/1253/cards/CC20102150000001
    </ui:define>
    
   <ui:define name="doc">
        <p>
            В разработке.
        </p>
    </ui:define>

    <ui:define name="requestJson">
{
    "deleted_as_credit": true,
    "default_as_credit": false
}
    </ui:define>
    <ui:define name="responseJson">
{
    "color": "#112555",
    "name": "Карта ",
    "active": true,
    "debit": false,
    "credit": false,
    "deleted_as_debit": false,
    "deleted_as_credit": false,
    "default_as_credit": false,
    "default_as_debit": true
}
    </ui:define>
</ui:composition>