<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">
    <ui:define name="requestHeaders">
        GET /api/v1/users/1253/cards
    </ui:define>
   <ui:define name="doc">
        <p>
            В разработке.
        </p>
    </ui:define>
    <ui:define name="responseJson">
[
   {
      "number":"415481******2128",
      "id":"CC20107130000005",
      "active":true,
      "debit":false,
      "credit":true,
      "alfa":false,
      "deleted_as_debit":false,
      "deleted_as_credit":false,
      "default_as_credit":false,
      "default_as_debit":false,
      "exp_date":"0001-01-01"
   },
   {
      "number":"548673******2220",
      "id":"CC22408130000034",
      "active":true,
      "debit":false,
      "credit":true,
      "alfa":false,
      "deleted_as_debit":false,
      "deleted_as_credit":false,
      "default_as_credit":false,
      "default_as_debit":false,
      "exp_date":"0001-01-01"
   },
   {
      "number":"131564****5313",
      "color":"#112555",
      "id":"CC22606130000002",
      "name":"Карта",
      "active":true,
      "debit":false,
      "credit":false,
      "alfa":false,
      "deleted_as_debit":true,
      "deleted_as_credit":true,
      "default_as_credit":false,
      "default_as_debit":true,
      "exp_date":"2017-01-01"
   },
   {
      "number":"548673******0687",
      "id":"CC22706130000010",
      "active":true,
      "debit":true,
      "credit":false,
      "alfa":false,
      "deleted_as_debit":false,
      "deleted_as_credit":false,
      "default_as_credit":false,
      "default_as_debit":false,
      "exp_date":"2017-02-28"
   },
   {
      "number":"548673******6002",
      "id":"CC23006130000004",
      "active":true,
      "debit":true,
      "credit":false,
      "alfa":false,
      "deleted_as_debit":false,
      "deleted_as_credit":false,
      "default_as_credit":false,
      "default_as_debit":false,
      "exp_date":"2015-07-31"
   }
]
    </ui:define>
</ui:composition>