<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/docWithExamples.xhtml">
   <ui:define name="doc">
        <p>
            В разработке.
        </p>
    </ui:define>
    <ui:define name="requestHeaders">
        POST /api/v1/users/50/cards
    </ui:define>
    <ui:define name="requestJson">
{
  "number": "5213243739046055",
  "default_as_debit": true,
  "default_as_credit": false,
  "exp_date": "201605",
  "color": "#112233",
  "name": "TCS"
}
    </ui:define>
    <ui:define name="responseJson">
        
    </ui:define>
</ui:composition>